.Home {
    background-color: #1D5D9B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Home p {
    color: white;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2vw;
}

#Emric {
    margin-left: calc(calc(100vw - 200px) / 2);
    margin-top: 18vh;
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 0;
    border-radius: 250px;
}

#Emric img {
    height: 380px;
    left: -160px;
}

.Column {
    display: flex;
    flex-direction: column;
}

.AdaptiveFlex {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 18vh;
    margin-left: 2vw;
}

.title h2 {
    font-size: 6vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yellowLine {
    width: 90%;
    height: 4px;
    margin-left: 2vw;
    background-color: #F4D160;
    border-radius: 10px;
}

#firstName {
    color: #F4D160;
    margin: 0;
    margin-right: 1.5%;
}

#LastName {
    color: #75C2F6;
    margin: 0;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 24px;
    color: #F4D160;

}

h3#freelance {
    margin-top: 8vh;
    width: 70%;
    margin-left: 15%;
}

.contactRow {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}


@media (min-width: 481px) {

    #Emric {
        width: 300px;
        height: 300px;
        margin-left: calc(calc(100vw - 300px) / 2);
    }

    #Emric img {
        height: 520px;
        left: -210px;
    }

    h3 {
        font-size: 26px;
    }

}

@media (min-width: 769px) {
    #Emric {
        width: 350px;
        height: 350px;
        margin-left: calc(calc(100vw - 350px) / 2);
    }

    #Emric img {
        height: 570px;
        left: -220px;
    }

    .title {
        margin-top: 48vh;
    }

    .title h2 {
        font-size: 100px;
    }

    h3 {
        margin-left: 6px;
        font-size: 30px;
    }
}

@media (min-width: 800px) {
    #Emric {
        margin-top: 130px;
    }

    .title {
        margin-top: 40vh;
    }

}

@media (min-width: 1201px) {
    .Home {
        flex-direction: row;
        height: 94vh;
        min-height: min-content;
        margin-top: 6vh;
        background: linear-gradient(to right,
                #1D5D9B 70%,
                #F4D160 30%);

    }

    h3#freelance {
        color: #1D5D9B;
        position: absolute;
        width: 25vw;
        right: 5vh;
    }

    .title {
        margin-top: 11vh;
    }

    .title h2 {
        font-size: 8vh;
    }

    .yellowLine {
        width: 37%;
    }

    p {
        width: 45%;
    }

    #welcomeBlock>h3 {
        width: 45%;
        text-align: left;
        margin-left: 2vw;
    }

    #Emric {
        position: 'relative';
        margin-left: calc(70% - (calc(350px/2)));
        margin-top: calc(calc(96vh - 350px) / 2);
        width: 350px;
        height: 350px;
    }

    #Emric img {
        height: 574px;
        left: -222px;
    }

    .contactRow {
        width: 30vw;
        margin-left: 16vw;

    }

    .AdaptiveFlex {
        display: flex;
        flex-direction: row;
    }

    .socialLink {
        position: absolute;
        right: 2.5%;
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        bottom: 5vh;
    }

    .yellowColumn {
        margin-top: 2vh;
        width: 3px;
        height: 32%;
        background-color: #F4D160;
        border-radius: 5px;
        position: absolute;
    }

    #welcomeBlock {
        margin-top: 8vh;
        margin-left: 8vw;
    }



}

@media (min-width: 1900px) {
    #Emric {
        position: 'relative';
        margin-left: calc(70% - (calc(550px/2)));
        margin-top: calc(calc(96vh - 550px) / 2);
        width: 550px;
        height: 550px;
        border-radius: 350px;
    }

    #Emric img {
        height: 770px;
        left: -260px;
    }

    #firstName {
        margin-right: 2%;
    }

    .yellowLine {
        width: 80%;
    }

    .title {
        margin-top: 10vh;
    }

    .title h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 50px;
    }

    h3#welcome {
        margin-top: 8vh;
        width: 70%;
        margin-left: 15%;
    }

    .yellowColumn {
        height: 35%;
    }

    #welcomeBlock {
        margin-top: 8vh;
        width: 25vw;
        margin-left: 8vw;
    }

    #welcomeBlock>h3 {
        margin-left: 2vw;
        text-align: left;
        margin-top: 4vh;
    }

    #welcomeBlock>p {
        margin-left: 2vw;
        text-align: left;
        margin-top: 4vh;
        font-size: 22px;
        width: auto;
    }

    .contactRow {
        display: flex;
        margin-top: 2vh;
        margin-left: 30vw;
    }

    button {
        border-radius: 15px;
        padding: 12px;
    }
}

@media (min-width: 2400px) {
    h3#freelance {
        width: 20vw;
        right: 12vh;
    }

    .yellowColumn {
        height: 25%;
    }

}