.Menu {
  background-color: #F4D160;
  height: 6vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #1D5D9B;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.50);
}

h2 {
  margin-left: 50px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
  align-items: baseline;
  display: inline-flex;
}

li {
  margin-left: 10px;
  cursor: pointer;
}

li:hover {
  color: #75C2F6;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #1D5D9B;
  border-radius: 8px;
  color: #1D5D9B;
  font-size: 24px;
  outline: none;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 800px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;
}

button:hover {
  border-color: #75C2F6;
  color: #75C2F6;
}